body {
  background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
}

.form-inline {
  font-family: "Saira Semi Condensed", sans-serif;
  padding-top: 30px;
}
h1 {
  font-family: "Saira Semi Condensed", sans-serif;
  padding-top: 40px;
  padding-bottom: 15px;
  padding-left: 40px;
}
.date {
  font-family: "Saira Semi Condensed", sans-serif;
  padding-top: 40px;
}
h3 {
  font-family: "Saira Semi Condensed", sans-serif;
  padding-top: 0;
}
hr {
  width: 100%;
  height: 100%;
}
li {
  font-size: 18px;
  margin: 25px 0;
}
.future {
  font-family: "Saira Semi Condensed", sans-serif;
  padding-top: 70px;
  width: max-content;
}
.details {
  font-family: "Saira Semi Condensed", sans-serif;
  text-align: center;
}
.simple {
  font-family: "Saira Semi Condensed", sans-serif;
  position: relative;
  right: -100px;
  bottom: -20px;
  text-align: center;
  font-size: 30px;
}
.today {
  font-family: "Saira Semi Condensed", sans-serif;
  font-size: 50px;
}
.fa-sun {
  font-family: "Saira Semi Condensed", sans-serif;
  color: #fbc02d;
  font-size: 50px;
}
.now {
  position: relative;
  left: 20px;
  top: 10px;
  font-size: 50px;
}
.five {
  width: max-content;
  font-size: 30px;
}
.list {
  position: relative;
  right: 30px;
  width: max-content;
  font-size: 20px;
  text-align: center;
  color: black;
}
.high {
  position: relative;
  left: 20px;
  font-size: 20px;
}
.sunny {
  color: black;
  font-size: 20px;
}
.opensource {
  text-align: center;
}
