body {
  background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
}
.form-inline {
  font-family: "Saira Semi Condensed", sans-serif;
  padding-top: 30px;
}
.city {
  font-size: 70px;
  font-family: "Saira Semi Condensed", sans-serif;
  margin: 10px 0px 8px;
  position: relative;
  right: -50px;
  bottom: -10px;
  text-align: center;
}
.date {
  font-family: "Saira Semi Condensed", sans-serif;
  position: relative;
  right: -50px;
  bottom: -50px;
  text-align: center;
}
h3 {
  font-family: "Saira Semi Condensed", sans-serif;
  position: relative;
  text-align: center;
  bottom: -55px;
}
hr {
  width: 100%;
  height: 100%;
}
li {
  font-size: 18px;
  margin: 25px 0;
}

.details {
  font-family: "Saira Semi Condensed", sans-serif;
  text-align: center;
}
.simple {
  font-family: "Saira Semi Condensed", sans-serif;
  position: relative;
  right: -100px;
  bottom: -20px;
  text-align: center;
  font-size: 30px;
}
.today {
  font-family: "Saira Semi Condensed", sans-serif;
  font-size: 50px;
}

.now {
  position: relative;
  left: 20px;
  top: 10px;
  font-size: 60px;
}

.list {
  position: relative;
  right: 30px;
  width: max-content;
  font-size: 20px;
  text-align: center;
  color: black;
}
.high {
  position: relative;
  left: 20px;
  font-size: 20px;
}

.opensource {
  text-align: center;
}

.units {
  position: relative;
  font-size: 40px;
  left: 15px;
}

.units .active {
  color: black;
  cursor: default;
}

.units .active:hover {
  text-decoration: none;
}

#icon {
  width: 40%;
  height: auto;
}
